.right-side {
    
    h2 {
        color: var(--text-light);
        /* V2/Hero 1 */
        font-family: DM Serif Display;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 107.692% */
        letter-spacing: 1.04px;
    }
}