.mapa-container {
  display: flex;
  width: 1440px;
  flex-direction: column;
  align-items: center;
}
.mapa {
  align-self: center;
  display: flex;
  margin: 10px 50px;
  justify-content: center;
}
.footer {
  display: flex;
  padding: 32px 16px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: var(--background);

  .data-title a {
    color: var(--primary-titulos-naranja);
  }

  .data-padding a {
    color: var(--black);
  }
}

.links a {
  background-color: var(--primary);
  border-radius: 12px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.link-contacto a {
  border: solid var(--white) 2px;
  border-radius: 12px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.menu-hamb {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: var(--primary-titulos-naranja);
}

.menu-hamb :hover {
  background-color: var(--primary);
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: var(--primary-titulos-naranja);
}

.correo {
  color: black;
}

.categorias {
  color: #ffffff;
  text-align: center;
  justify-content: flex-end;
}

.categorias a {
  color: #ffffff;
  text-align: center;
  justify-content: flex-end;
  text-decoration: none;
}

.categorias a.active {
  border-bottom: solid 2px white;
}
