.data-contacto {
  display: flex;
  width: 200px;
  padding: 15px 0px 16px 0px;
  flex-direction: column;
  align-items: flex-start;
}

.data-title {
  color: #f6973f;
  width: 284px;
  padding-bottom: 16px;
}

.data-padding {
  padding-bottom: 16px;
  color: black;
}

.data-padding a {
  color: black;
}
