.back-neutral {
  background-color: #f4f0ec !important;
}



.img-cotizacion {
  height: 100%;
  align-self: stretch;
  /*   padding: 64px 36px; */
  img {
    width: 550px;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

.nosotros-image-left {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 48px;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  margin-bottom: 32px;
  justify-content: space-around;

  .img-container {
    height: 100%;
    align-self: stretch;
    padding: 64px 36px;
    position: relative;
    img {
      width: 500px;
      max-width: 100%;
      border-radius: 2%;
      height: auto;
      flex-shrink: 0;
      object-fit: cover;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      
    }
  }

  .info-container {
    width: 100%;

    h2 {
      color: var(--black);
      /* Hero 1 */
      font-family: DM Serif Display;
      font-size: 52px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px; /* 107.692% */
      letter-spacing: 1.04px;
      margin-bottom: 24px;
      align-items: flex-start;
    }

    p {
      color: var(--gray);
      /* Hero 2 */
      font-family: Jost;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 120% */
    }
  }
}

.nosotros-image-right {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 48px;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  margin-bottom: 32px;
  justify-content: space-around;

  .img-container {
    height: 100%;
    align-self: stretch;
    padding: 64px 36px;
    position: relative;
    img {
      width: 300px;
      max-width: 100%;
      border-radius: 2%;
      height: auto;
      flex-shrink: 0;
      object-fit: cover;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      
    }
  }

  .info-container {
    width: 100%;

    h2 {
      color: var(--black);
      /* Hero 1 */
      font-family: DM Serif Display;
      font-size: 52px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px; /* 107.692% */
      letter-spacing: 1.04px;
      margin-bottom: 24px;
      align-items: flex-start;
    }

    p {
      color: var(--gray);
      /* Hero 2 */
      font-family: Jost;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 120% */
    }
  }
}


.nosotros-image-right .img-container .superpuesta {
  display: none;
}

.nosotros {
  margin-top: 32px;

  h2 {
    color: var(--black);
    /* Hero 1 */
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 107.692% */
    letter-spacing: 1.04px;
    margin-bottom: 20px;
    padding: 0px 32px;
  }
}

.nosotros-logramos {
  display: flex;
  padding: 32px;
  align-items: center;
  /* gap: 48px; */
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  margin: 32px 0px;
  justify-content: space-around;

  .logramos-left,
  .logramos-right {
    .logramos-info {
      border-top: 2px solid #f6973f66;

      h4 {
        color: var(--black);
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 120% */
        padding: 16px;
      }

      p {
        color: var(--gray);
        /* Hero 2 */
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        padding: 16px;
      }
    }
  }
}

@media (min-width: 700px) {
  .nosotros {
    padding: 32px 86px;

    h2 {
      color: var(--black);
      /* Hero 1 */
      font-family: DM Serif Display;
      font-size: 52px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px; /* 107.692% */
      letter-spacing: 1.04px;
      margin-bottom: 20px;
    }

    .nosotros-image-left {
      padding: 32px 86px;

      img {
        width: 580px;
        height: 466px;
        object-fit: contain;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }

    .nosotros-image-right {
      padding: 32px 86px;

      img {
        width: 400px;
        height: 466px;
        object-fit: contain;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }

    .nosotros-logramos {
      padding: 32px 86px;
    }
  }
}

@media (max-width: 791px) {
  .bg-personalizado {
    background-size: 100%;
    position: relative;
    padding: 20px;
  }

  .bg-personalizado::before {
    content: "";
    background-image: url("../../../../img/BUTACA-BAHIA2-bg.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
  }

  .img-cotizacion {
    display: none;
  }

  .nosotros-image-left .bg-personalizado h2 {
    color: var(--black);
    position: relative;
    font-family: DM Serif Display;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 107.692% */
    letter-spacing: 1.04px;
    margin-bottom: 24px;
    align-items: flex-start;
  }

  .nosotros-image-left .info-container h2 ul {
    color: var(--black);
    position: relative;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;

    li {
      color: var(--black);
      position: relative;
      font-family: Jost;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 24px;
    }
    .info-container ul {
      color: var(--black);
    }
  }

  .nosotros-image-left .bg-personalizado p {
    color: var(--black);
    position: relative;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
  }
}

@media (min-width: 1032px) {
  h2 {
    color: var(--black);
    /* Hero 1 */
    font-family: DM Serif Display;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 107.692% */
    letter-spacing: 1.04px;
    margin-bottom: 20px;
  }
  .nosotros-image-left {
    display: flex;
    padding: 6px 100px 86px;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    margin-bottom: 32px;
    justify-content: space-around;

    .img-container {
      width: 47%;
      position: relative;
      
      img {
        width: 500px;
        max-width: 100%;

        flex-shrink: 0;
        object-fit: cover;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 20px;
      }
    }

    .info-container {
      width: 47%;

      h2 {
        color: var(--black);
        /* Hero 1 */
        font-family: DM Serif Display;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 107.692% */
        letter-spacing: 1.04px;
        margin-bottom: 20px;
      }

      p {
        color: var(--gray);
        /* Hero 2 */
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
      }
    }
  }

  .back-neutral {
    padding: 76px 100px 76px;
  }

  .nosotros-image-right .img-container .primera-img {
    margin-bottom: 27px;
  }

  .nosotros-image-right {
    display: flex;
    padding: 6px 100px 86px;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: stretch;
    margin-bottom: 32px;
    justify-content: space-around;

    .img-container {
      width: 47%;
      position: relative;
      
      img {
        width: 450px;
        max-width: 100%;

        flex-shrink: 0;
        object-fit: cover;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
      }
    }

    .info-container {
      width: 47%;

      h2 {
        color: var(--black);
        /* Hero 1 */
        font-family: DM Serif Display;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 107.692% */
        letter-spacing: 1.04px;
        margin-bottom: 20px;
      }

      p {
        color: var(--gray);
        /* Hero 2 */
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
      }
    }
  }

  .nosotros {
    padding: 32px 116px;

    .nosotros-logramos {
      display: flex;
      padding: 32px 0px;
      align-items: center;
      gap: 48px;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 32px;
      justify-content: space-around;

      h2 {
        color: var(--black);
        /* Hero 1 */
        font-family: DM Serif Display;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 56px; /* 107.692% */
        letter-spacing: 1.04px;
        margin-bottom: 20px;
      }

      .logramos-left,
      .logramos-right {
        width: 47%;

        .logramos-info {
          border-top: 2px solid #f6973f66;

          h4 {
            color: var(--black);
            font-family: Jost;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 120% */
            padding: 16px;
          }

          p {
            color: var(--gray);
            /* Hero 2 */
            font-family: Jost;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 120% */
            padding: 16px;
          }
        }
      }
    }
  }
}


