.hero {
    background-image: url('https://living.eproweb.net/products/sofa-cama-napoles03.jpg');
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.90) 5.41%, rgba(0, 0, 0, 0.52) 57.76%, rgba(0, 0, 0, 0.00) 99.75%), url('https://living.eproweb.net/products/sofa-cama-napoles03.jpg'), lightgray 50% / cover no-repeat;

    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #fff;
    padding: 0 20px;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 0px 16px 8px 16px;

    h1 {
        color: #FCFAF6;
    /* Hero 1 */
    font-family: DM Serif Display;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 107.692% */
    letter-spacing: 1.04px;
    align-self: stretch;
    margin-bottom: 24px;
    }

    p {
        color: #FCFAF6;
        /* Hero 2 */
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 120% */
        align-self: stretch;
        margin-bottom: 24px;
      }

      .btn-cta {
        display: flex;
        padding: 12px 16px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 12px;
        border: 1px solid var(--neutral-f, #FFF);
        transition: all 0.3s ease-in-out;
        color: var(--neutral-f, #FFF);
        text-align: center;
        /* Botones */
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 120% */
    
      }
      
      .btn-cta:hover {
        border: 3px solid var(--primary);
        color: #fff;
      }
  }


/*   Tu espacio */

  .info-container ul {
    color: var(--gray);
    /* Hero 2 */
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    margin-bottom: 24px;

    li {
        margin:0 0 7px 0;
    }
  }

  .mensaje-whatsapp h2 {
    color: var(--neutral-parrafo, #585756);
    /* Prod Title */
    font-family: Jost;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 150% */
    align-self: stretch;
  }

  .cta {
    padding: 48px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

  }

  .rounded {
    border-radius: 10px;
  }

  .btn-cta-primary {
    margin-top: 20px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    border: 1px solid var(--primary);
    background: var(--primary);
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    color: var(--neutral-f, #FFF);
    text-align: center;
    /* Botones */
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */

  }
  
  .btn-cta-primary:hover {
    border: 3px solid var(--primary);
    color: #fff;
  }

  .home-container {
    padding-top: 128px;
    padding-bottom: 128px;

    .info-container {

      .btn-container {
        margin-top: 60px;

        img {
          padding-top: 3px;
          padding-left: 10px;
          width: 16px;
          height: 16px;
          justify-content: center;
          align-items: center;
          color: #fff;
         
        }
      }

    }

  }

  @media (min-width: 992px) {
    .hero {
      padding: 0px 16px 8px 116px;
    }
  }


  
  


