@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

:root {
  --primary: #f55b1c;
  --secondary: #00b2b0;
  --gray: #585756;
  --gray-dark: #474747;
  --text: #5b6073;
  --text-light: #f4eeea;
  --black: #1e1e1e;
  --white: #fff;
  --swiper-theme-color: #f55b1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.color-gray {
  color: var(--gray);
}

.color-gray-dark {
  color: var(--gray-dark);
}

.color-text {
  color: var(--text);
}

.color-black {
  color: var(--black);
}

.content {
  width: 100%;
  background: var(--white);
  display: flex;
  flex-direction: row;
  gap: 24px;

  .left-side {
    display: block;
    width: 116px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0 100px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: 24px;

    .left-side {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      position: relative;
    }

    .right-side {
      max-width: 1300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      padding: 0px;
    }
  }
}

.swiper-scrollbar-drag {
  background: #f55b1c;
}

@import "./components/Layout/Layout";
@import "./components/Titles/Titles";
@import "./components/CategoryList/CategoryList";
@import "./components/CategoryProducts/CategoryProducts";
@import "./components/ProductCard/ProductCard";
@import "./components/ProductList/ProductList";
@import "./components/ProductDetail/ProductDetail";
@import "./components/ItemCard/ItemCard";
@import "./components/ItemBreadcrumb/ItemBreadcrumb";
@import "./components/ItemPictures/ItemPictures";
@import "./components/ItemDescription/ItemDescription";
@import "./components/ItemButton/ItemButton";
@import "./components/ItemPersonalizable/ItemPersonalizable";
@import "./components/MedidaItem/MedidaItem";
@import "./components/ItemFeatures/ItemFeatures";
@import "./components/ItemDetalles/ItemDetalles";
@import "./components/ProductosRelacionados/ProductosRelacionados";
@import "./components/OtraCard/OtraCard";
@import "./components/Loader/Loader";
@import "./components/DataContacto/DataContacto.scss";
@import "./components/Formulario/Formulario.scss";
@import "./components/Whatsapp/Whatsapp.scss";
