:root {
    --primary: #F55B1C;
    --secondary: #00B2B0;
    --gray: #585756;
    --black: #1E1E1E;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
  }
  
.content {
  width: 100%;
  background: var(--white);
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 0px 116px;

  .left-side {
    display: flex;
    width: 152px;
    padding-top: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px; 
  }

  .right-side {
    display: flex;
    width: 100%;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
  }
}


@import './components/Layout/Layout';
@import './components/Titles/Titles';
@import './components/Loader/Loader';