.form-input {
  border: none;
  border-radius: 8px;
  background-color: rgba(211, 206, 202, 0.7);
  display: flex;
  height: 40px;
  padding: 8px;
  gap: 8px;
  width: auto;
  margin-bottom: 20px;
  display: flex;
  min-width: 328px;
  max-width: 592px;
  padding: 8px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.form-label {
  font-size: 14px;
}
