
.preloader {

    text-align: center;

    .spinner {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;

        .double-bounce1,
        .double-bounce2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--primary);
            opacity: 1;
            -webkit-animation: loader-bounce 2s infinite ease-in-out;
            animation: loader-bounce 2s infinite ease-in-out;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .double-bounce2 {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
            opacity: 0.1;
        }
    }
}


@-webkit-keyframes loader-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }

}

@keyframes loader-bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

}
